.book {
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    width: 15vw;
    text-align: left;
    /* box-shadow: 1px 1px 3px #dcdcdc; */
    color: black;
}

img {
    /* width: 30vw; */
    max-width: 17vw;
    height: 100px;
}

.imgbox {
    text-align: center;
    padding: 10px;
    background-color: white;
}

.title{
    font-size: 16px;
    font-weight: bold;
}

.author{
    font-size: 12px;
    color: var(--user-sec-color);
}

.date {
    /* text-align: right; */
  }

.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link button{
    padding: 5px 15px;
  }